#dice-container {
    text-align: center;
    margin: 50px;
}

.dice-icon {
    /* font-size: 48px; */
    /* margin: 20px; */
    background-color: #212529;
    /* padding: 20px; */
    /* border-radius: 5px; */
    display: inline-block;
    /* color: #f7f7f7; */
}



#controls {
    text-align: center;
    margin-top: 20px;
}
i{
    margin: 10%;
}
button {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #212529;
    color: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



button:hover {
    background-color: #525252;
}

#roll-result {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #5a5a5a;
}


