#dice-container {
    text-align: center;
    margin: 50px;
}

.dice-icon {
    /* font-size: 48px; */
    /* margin: 20px; */
    background-color: #212529;
    /* padding: 20px; */
    /* border-radius: 5px; */
    display: inline-block;
    /* color: #f7f7f7; */
}



#controls {
    text-align: center;
    margin-top: 20px;
}
i{
    margin: 10%;
}
button {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #212529;
    color: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



button:hover {
    background-color: #525252;
}

#roll-result {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #5a5a5a;
}


html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P", cursive;
}

body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#controls {
    margin: 10px 0;
}

#roll-result {
    margin-top: 20px;
}

.nes-balloon {
    margin-top: 20px;
}

.nes-btn {
    margin: 5px;
}
@keyframes roll-animation {
0% { transform: rotate(0deg); }
25% { transform: rotate(90deg); }
50% { transform: rotate(180deg); }
75% { transform: rotate(270deg); }
100% { transform: rotate(360deg); }
}

.rolling {
animation: roll-animation 1s ease-in-out;
}